<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <div class="logo">Basic Navbar with Menus</div>
      <button mat-button [matMenuTriggerFor]="menu1">Item 1</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Sub-item 1</button>
        <button mat-menu-item>Sub-item 2</button>
      </mat-menu>      
      <button mat-button [matMenuTriggerFor]="menu2">Item 2</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>Sub-item 1</button>
        <button mat-menu-item>Sub-item 2</button>
      </mat-menu>    
      <button mat-button [matMenuTriggerFor]="menu1">Item 3</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Sub-item 1</button>
        <button mat-menu-item>Sub-item 2</button>
      </mat-menu>          
    </mat-toolbar-row>
  </mat-toolbar>
